[package]
authors = ["Jorge Aparicio <jorge@japaric.io>", "Ethan Frey <ethanfrey@noreply.github.com"]
categories = ["wasm"]
description = "serde-json for wasm programs"
documentation = "https://docs.rs/serde-json-wasm"
edition = "2018"
keywords = ["serde", "json", "wasm"]
license = "MIT OR Apache-2.0"
name = "serde-json-wasm"
readme = "README.md"
repository = "https://github.com/confio/serde-json-wasm"
version = "0.0.2"

[dependencies]
serde = {version = "^1.0.80", default-features = false }

[dev-dependencies]
serde_derive = "^1.0.80"
